<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse" width="50">
  <a class="navbar-brand" href="./index.html">Youtube WEB II</a>
  <div class="container">
      <div class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </div>
      <div class="nav navbar-nav navbar-right">
        <li><a href="./signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="./login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </div>
  </div>
</nav>