.container {
	text-align: center;
	align-content: center;
}

#header {
   padding:0px;
   margin: 0px;
}
#body {
   padding:0;
   padding-bottom:0px;   /* Height of the footer */
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 14px;
   line-height: 1rem;
}

.sign #signbutton{
    padding-bottom: 10px;
    align-content: center;
    padding-right: 0px;

}
/* Inicio de footer */
footer{
  position: absolute;
  padding: 0;
  padding-bottom: 0px;
   margin-top:3%;
   width:100%;
   height: 0px;
}
#footer-nav{
    padding:0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1rem;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
}
footer .fo-container{
    padding:0 5%!important;
}
footer .fo-container>.row>div{
    display: flex;
    flex-direction: column;
}
footer .fo-container:first-child{
    background:black;
}
footer .fo-container:first-child >div{
    height:110.381px;
}
footer .fo-container:last-child >div{
    height: 68.803px;    
}
footer .text-copyright{
    font-family:"Franklin Gothic Demi";
    font-size:1rem;
    margin: auto;
    color:#676767;
}
footer .fo-item{
    list-style: none;
    position:relative;
}
footer .fo-item:before{
    content:"|";
    position:absolute;
    left:0;
}
footer .fo-item:first-child:before{
    content:"";
}
footer .fo-item:first-child a{
    padding-left:0;
}
footer .fo-item a{
    font-size:1.475rem;
    color:#051D49;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1rem;
    padding:0 16px;
    text-decoration: initial;
}
@media (min-width:1680px){
    footer .fo-item a{
        padding:0 20px;
    }
    @media (min-width:1840px){
        footer .fo-item a{
            padding:0 27px;
        } 
    } 
}
@media (max-width:1364px){
    footer .fo-item a{
        padding:0 13px;
    }
    @media (max-width:1192px){
        footer .fo-item a{
            padding:0 10px;
        }
    }
}
footer .fo-contacto{
    line-height:1rem;
}
footer .fo-contacto .col:nth-child(1){
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.35rem;
    line-height: 1.5rem;
    color:white;
}
footer .fo-contacto .col:nth-child(2){
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:1.35rem;
    color:white;
    padding:10px;
}
footer .fo-contacto .col:nth-child(3){
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:1.35rem;
    color:white;
    padding:10px;
}
footer .fo-contacto a{
    color:white;
    text-decoration: initial;
    line-height: 1.457143rem;
    padding: 0 10px;
    }
footer .fo-contacto a:hover{
    color:#2c55ce!important;
}
@media (max-width:1170px){
    footer .fo-rrss i::before {
        font-size: 1.4rem;
        padding: 0 1px;
    }
    @media (max-width:1086px){
        footer .fo-rrss i::before {
            font-size: 1.3rem;
            padding: 0;
        }
    }
    @media (max-width:1126px){
        footer .fo-item a {
            font-size: 1.1875rem;
            color: #051D49;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            line-height: 1rem;
            padding: 0 20px;
        }
    }
}

