.container {
	text-align: center;
	align-content: center;
}

.text-justify {
	text-align: justify;
}

.file{
	align-content: center;
}

#user h3 {
	font-family: lulo clean;
	font-style: 25px;
}
#upfile{
	align-content: center;
}