.container {
	text-align: center;
	align-content: center;
}

.text-justify {
	text-align: justify;
}

.file{
	align-content: center;
}
#upfile{
	align-content: center;
	display: inline;	
}

#upfile .btn.btn-danger input{
	align-content: center;
}
